<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Bunch of cats</title>
</head>
<%- include('./partials/nav.ejs') %>
<body>
    <h1>Just a place where all Cats can come together and show off their cuteness</h1>
</body>
</html>